@include media-query(lap-and-up) {
	html {
		&.front {
			background-image: url('../images/background-1.jpg');
			background-position: center top;
			background-repeat: no-repeat;
		}
	}
}

body {
	font-family: $knockout-49;
}
