.c-nav-primary {

	@extend %list-inline;

	font-family: $knockout-49;
	font-size: 24px;

	&__item {
		vertical-align: middle;

		@include media-query(lap-and-up) {
			margin-left: double($spacing-unit);

			&--offset {
				margin-left: 5 * $spacing-unit;
			}
		}

		@include media-query(palm) {
			margin: 0 $spacing-unit $spacing-unit;

			&--offset {
				margin-bottom: 0;
			}
		}

	}

	&__link {
		color: $color-nav-primary;
		text-decoration: none;
		text-transform: uppercase;

		&:not(.btn) {
			@include attention {
				text-decoration: underline;
			}
		}
	}
}
