.c-page-head {
	@extend %clearfix;

	padding-top: 1.5 * $spacing-unit;

	@include media-query(palm) {
		text-align: center;
	}

	&__logo {
		vertical-align: top;

		@include media-query(lap-and-up) {
			float: left;
		}

		@include media-query(palm) {
			margin-bottom: $spacing-unit;
		}
	}

	&__nav {
		float: right;
	}
}
