.c-image-overlay {
	display: block;
	position: relative;

	&__img {
		filter: grayscale(100%);
	}

	&__body {
		position: absolute;
		z-index: 2;

		&--bottom {
			bottom: 0;
			width: 100%;
			margin-bottom: 0;
		}
	}

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-image-overlay;
		content: '';
		transition: .2s background-color ease-out;
		z-index: 1;
	}

	&--reveal:hover::after {
		background-color: transparent;
	}
}
