// Colour literals.

$color-off-white: #fffbfa;
$color-dark-gray: #292c36;
$color-red:       #ec1f27;
$color-yellow:    #f9cd29;
$color-dark-cyan: #16949a;





// Assign to meaningful colour names.

$inuit-base-background-color: $color-dark-gray;
$inuit-base-text-color:       $color-off-white;

$color-nav-primary:           $color-off-white;

$color-buttons:               $color-red;

$color-links:                 $color-red;

$color-image-overlay:         rgba($color-dark-gray, .4);

$color-rule:                  $color-dark-gray;

$color-date-day:              $color-red;

$color-quote-first:           $color-yellow;

$color-brand-primary:         $color-yellow;
$color-brand-secondary:       $color-red;
