///*------------------------------------*\
//		 #STYLES
//\*------------------------------------*/

// *
// *      This is a starting point created by the Yeoman generator. All the
// *      Inuit and PlumpCSS modules are commented out to start with.
// *      Remove individual comments (and this one) per-project.
// *
// *
// *
// *      Shearing layers is a concept coined by architect Frank Duffy which
// *      was later elaborated by Stewart Brand in his book
// *      How Buildings Learn: What Happens After They’re Built (Brand, 1994),
// *      and refers to buildings as composed of several layers of change.
// *
// *      The concept of Shearing Layers can be adopted to architect CSS into
// *      layers of decreasing scope (inverted pyramid):
// *
// *  1.  Settings: Sass vars, etc.
// *  2.  Tools: Functions and mixins.
// *  3.  Generic: Generic, high-level styling, like resets, etc.
// *  4.  Base: Unclasses HTML elements (e.g. `h2`, `ul`).
// *  5.  Object: Objects and abstractions.
// *  6.  Components: Your designed UI elements (inuitcss includes none of these).
// *  7.  Trumps: Overrides and helper classes.
// *
// *      We can import our own partials in the relevant locations/layers.
// *      We name them in the _<layer>.<file>.scss format.
// *
// *      inuit.css: https://github.com/csswizardry/inuit.css/
// *





///*------------------------------------*\
//	 #SETTINGS
//\*------------------------------------*/

@import '../../bower_components/inuit-defaults/settings.defaults';

@import '../../bower_components/plumpcss-defaults/settings.defaults';

@import '../../bower_components/inuit-responsive-settings/settings.responsive';

// @import '../../bower_components/plumpcss-responsive-settings/settings.responsive';

@import 'settings.colors';

$spacing-unit: $inuit-base-spacing-unit;





///*------------------------------------*\
//	 #TOOLS
//\*------------------------------------*/

@import '../../bower_components/inuit-functions/tools.functions';

// @import '../../bower_components/plumpcss-functions/tools.functions';

@import '../../bower_components/inuit-mixins/tools.mixins';

@import '../../bower_components/plumpcss-mixins/tools.mixins';

@import '../../bower_components/inuit-responsive-tools/tools.responsive';

@import '../../bower_components/inuit-tools-widths/tools.widths';





///*------------------------------------*\
//	 #GENERIC
//\*------------------------------------*/

@import '../../bower_components/inuit-box-sizing/generic.box-sizing';

@import '../../bower_components/inuit-normalize.css/generic.normalize';

@import '../../bower_components/inuit-reset/generic.reset';

@import '../../bower_components/inuit-shared/generic.shared';





///*------------------------------------*\
//	 #BASE
//\*------------------------------------*/

@import '../../bower_components/inuit-headings/base.headings';

// @import '../../bower_components/inuit-lists/base.lists';

@import '../../bower_components/inuit-page/base.page';

// @import '../../bower_components/inuit-paragraphs/base.paragraphs';

img,
svg {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

@include headings {
	text-transform: uppercase;;
}





///*------------------------------------*\
//	 #OBJECTS
//\*------------------------------------*/

$plump-enable-band--tiny:  true;
$plump-enable-band--large: true;
@import '../../bower_components/plumpcss-band/objects.band';

$inuit-enable-box--tiny: true;
@import '../../bower_components/inuit-box/objects.box';

$inuit-btn-background:   $color-buttons;
$inuit-btn-border-width: 0;
@import '../../bower_components/inuit-buttons/objects.buttons';

.btn {
	text-transform: uppercase;
	clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
	transition: .2s background-color;

	&:active,
	&:focus,
	&:hover {
		background-color: darken($color-buttons, 10%);
	}
}

// @import '../../bower_components/plumpcss-exhibit/objects.exhibit';

// @import '../../bower_components/inuit-flag/objects.flag';

@import '../../bower_components/inuit-layout/objects.layout';

// @import '../../bower_components/inuit-list-bare/objects.list-bare';

// @import '../../bower_components/inuit-list-block/objects.list-block';

@import '../../bower_components/inuit-list-inline/objects.list-inline';

// @import '../../bower_components/inuit-list-ui/objects.list-ui';

// @import '../../bower_components/inuit-media/objects.media';

// @import '../../bower_components/plumpcss-meter/objects.meter';

// @import '../../bower_components/inuit-pack/objects.pack';

// @import '../../bower_components/plumpcss-stack/objects.stack';

// @import '../../bower_components/inuit-tables/objects.tables';

// @import '../../bower_components/inuit-tabs/objects.tabs';

// @import '../../bower_components/plumpcss-widescreen-frame/objects.widescreen-frame';

$plump-wrapper-width: 1008px; // 960px + 24px padding each side.
@import '../../bower_components/plumpcss-wrapper/objects.wrapper';





///*------------------------------------*\
//	 #COMPONENTS
//\*------------------------------------*/

@import 'components.icons';

.c-page-head {
	@extend %clearfix;

	padding-top: 1.5 * $spacing-unit;

	&__logo {
		float: left;
	}

	&__nav {
		float: right;
	}
}

.c-nav-primary {

	@extend %list-inline;

	&__item {
		margin-left: double($spacing-unit);
		vertical-align: middle;

		&--offset {
			margin-left: 5 * $spacing-unit;
		}
	}

	&__link {
		color: $color-nav-primary;
		text-decoration: none;
		text-transform: uppercase;

		@include attention {
			text-decoration: underline;
		}
	}
}

.c-list-social {
	@extend %list-inline;

	&__item {
		margin-right: quarter($spacing-unit);
		margin-bottom: quarter($spacing-unit);
	}
}

.c-image-overlay {
	display: block;
	position: relative;

	&__img {
		filter: grayscale(100%);
	}

	&__body {
		position: absolute;
		z-index: 2;

		&--bottom {
			bottom: 0;
			width: 100%;
			margin-bottom: 0;
		}
	}

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-image-overlay;
		content: '';
		transition: .2s background-color ease-out;
		z-index: 1;
	}

	&--reveal:hover::after {
		background-color: transparent;
	}
}

.c-actions {
	text-align: center;
}





///*------------------------------------*\
//	 #TRUMPS
//\*------------------------------------*/

@import '../../bower_components/inuit-clearfix/trumps.clearfix';

// @import '../../bower_components/plumpcss-floats/trumps.floats';

// @import '../../bower_components/plumpcss-responsive-floats/trumps.floats-responsive';

// @import '../../bower_components/inuit-headings-trumps/trumps.headings';

@import '../../bower_components/plumpcss-hide/trumps.hide';

// @import '../../bower_components/plumpcss-responsive-hide/trumps.hide-responsive';

// @import '../../bower_components/inuit-print/trumps.print';

$inuit-enable-margins:        true;
$inuit-enable-margins--none:  true;
$inuit-enable-margins--tiny:  true;
$inuit-enable-margins--large: true;
@import '../../bower_components/inuit-spacing/trumps.spacing';

// @import '../../bower_components/inuit-spacing-responsive/trumps.spacing-responsive';

@import '../../bower_components/plumpcss-text-align/trumps.text-align';

// @import '../../bower_components/plumpcss-responsive-text-align/trumps.text-align-responsive';

@import '../../bower_components/inuit-widths/trumps.widths';

@import '../../bower_components/inuit-widths-responsive/trumps.widths-responsive';





///*------------------------------------*\
//	 #TRUMPS
//\*------------------------------------*/

.u-color-brand {
	color: $color-brand-primary;
}

.u-background-brand {
	background-color: $color-brand-primary;
	color: $color-dark-gray;
}

.u-background-brand-alt {
	background-color: $color-off-white;
	color: $color-brand-secondary;
}
